<div class="navbar-lewagon px-3">
  <%= link_to root_path do %>
    <%= image_tag "popcorn.png", alt: "alttext", class: "logo" %>
  <% end %>
  <div class="nav-links">
    <%= link_to "My lists", lists_path, class: "btn-green" %>
    <%= link_to "New list", new_list_path, class: "btn-green"%>
  </div>
</div>
